@model BlogApp.Models.UsuarioIngresarModelo

@{
    ViewBag.Title = "Ingresar";
}

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>UsuarioIngresarModelo</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nombre)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nombre)
            @Html.ValidationMessageFor(model => model.Nombre)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Clave)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Clave)
            @Html.ValidationMessageFor(model => model.Clave)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Recordarme)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Recordarme)
            @Html.ValidationMessageFor(model => model.Recordarme)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

