@model BlogApp.Models.UsuarioIngresarModelo

@{
    ViewBag.Title = "Ingresar";
}

<section class="post">
    @using (Html.BeginForm()) {
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>UsuarioIngresarModelo</legend>

            <p>
                @Html.LabelFor(model => model.Nombre)
                @Html.EditorFor(model => model.Nombre)
                @Html.ValidationMessageFor(model => model.Nombre)
            </p>

            <p>
                @Html.LabelFor(model => model.Clave)
                @Html.EditorFor(model => model.Clave)
                @Html.ValidationMessageFor(model => model.Clave)
            </p>

            <p>
                @Html.LabelFor(model => model.Recordarme)
                @Html.EditorFor(model => model.Recordarme)
                @Html.ValidationMessageFor(model => model.Recordarme)
            </p>

            <p>
                <button type="submit">ingresar</button>
            </p>
        </fieldset>
    }
</section>